@import '../../mixins';
@import '../../variables';

.container {
  overflow-x: hidden;
}

.hero {
  height: 92vh;
  border: 1px solid transparent;

  @include tablet {
    height: 80vh;
  }
  @include mobile {
    height: 35vh;
  }
  @media only screen and (min-width: 1024px) {
    height: 70vh;
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 112vh;
    top: 0;
    left: 0;
    z-index: 1;

    @include tablet {
      height: 80vh;
    }
    @include mobile {
      width: 100%;
      height: auto;
    }

    @media only screen and (max-width: 375px) {
      height: 40vh;
    }
    @media only screen and (max-width: 300px) {
      height: 40vh;
    }
  }

  .landing-blobs {
    position: absolute;
    z-index: 1;
    top: 8vh;
    max-width: 100vw;

    @include tablet {
      top: 13vh;
    }

    @include mobile {
      width: 101vw;
      left: 0;
      top: 0;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-top: 11vh;
    margin-left: 30px;
    padding-left: 5vw;
    z-index: 2;
    position: relative;

    @include mobile {
      margin-top: 5vh;
    }

    .button-temp {
      margin-top: 2rem;

      @include mobile {
        margin-top: 0rem;
      }
    }

    a {
      z-index: 1;
      width: 50%;

      img {
        width: 100%;
      }
    }

    h3 {
      @include landing-page-heading;
      margin-bottom: 1rem;
      z-index: 2;

      @include mobile {
        font-size: 1.1rem;
        line-height: 1.3;
        margin-top: 0.5rem;
        position: relative;
        z-index: 2;
      }

      @media only screen and (max-width: 320px) {
        font-size: 0.8rem;
        margin: 0.4rem 0;
      }
    }

    h2 {
      @include subtitle-two;
      line-height: 1.2em;
      z-index: 2;

      @include mobile {
        display: none;
      }
    }
  }
}
