.contact {
	margin-top: 6%;
	h5 {
		font-family: Cocogoose;
		font-size: 2.5vw;
		text-align: center;
		letter-spacing: 0.22em;
		text-transform: uppercase;
		color: #5f60ff;
	}
	.btn {
		max-width: 100%;
		width: 25vw;
		height: 3.8vw;
		border-radius: 1.9vw;
		border: none;
		outline: none !important;
		box-shadow: none !important;
		background: linear-gradient(to left, #55c8fb 0%, #51f5f9 100%);
		margin-top: 1.8%;
		padding: 0.2%;
		p {
			font-family: Rubik;
			font-weight: 500;
			font-size: 1.7vw;
			text-align: center;
			letter-spacing: 0.12em;
			color: #ffffff;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
		}
	}

	@media only screen and (max-width: 992px) {
		h5 {
			font-size: 2.9vw;
		}
		.btn {
			width: 35vw;
			height: 5vw;
			border-radius: 2.5vw;
			margin-top: 2.3%;
			p {
				font-size: 2.3vw;
			}
		}
	}

	@media only screen and (max-width: 576px) {
		h5 {
			font-size: 6.8vw;
		}
		.btn {
			width: 55vw;
			height: 11vw;
			border-radius: 5.5vw;
			margin-top: 5%;
			padding: 0.1%;
			p {
				font-size: 4.9vw;
			}
		}
	}
}
