.footer {
	position: absolute;
	bottom: 0;
}

.footer .bg-image {
	width: 100%;
	height: auto;
	margin-top: 5vh;
	z-index: 1;
}

.footer .text {
	position: absolute;
	bottom: 10.3%;
	left: 8rem;
	font-family: Raleway;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	display: block;
	line-height: 1.2;
}

.footer p:after {
	display: block;
	content: '';
	border-bottom: solid 1px #ffffff;
	transform: scaleX(0);
	transition: transform 350ms ease-in-out;
}
.footer p:hover:after {
	transform: scaleX(1);
}
.footer p.text:after {
	transform-origin: 0% 50%;
}

.footer .social {
	position: absolute;
	bottom: 8%;
	z-index: 4;
	width: 60px;
	display: block;
	transition: 0.5s ease;
}
.footer .social.linkedin {
	left: 3rem;
}
.footer .social.mail {
	left: 9rem;
}
.footer .social.instagram {
	left: 15rem;
}
.footer .social.facebook {
	left: 21rem;
}

.footer .social:hover {
	transform: scale(1.05) rotate(5deg);
}

.badge {
	width: 15%;
	position: absolute;
	bottom: 10%;
	right: 1.5rem;
	transition: 0.5s ease;
}
.badge:hover {
	transform: scale(1.05);
}
.badge:empty {
	display: block;
}

@media only screen and (max-width: 1000px) {
	.footer .text {
		font-size: 20px;
		left: 4.5rem;
		bottom: 9.3%;
	}
	.badge {
		width: 20%;
		position: absolute;
		bottom: 10%;
		right: 1.5rem;
		transition: 0.5s ease;
	}
	.footer .social {
		width: 45px;
	}

	.footer .social.linkedin {
		left: 4rem;
	}
	.footer .social.mail {
		left: 8rem;
	}
	.footer .social.instagram {
		left: 12rem;
	}
	.footer .social.facebook {
		left: 16rem;
	}
}
@media only screen and (max-width: 650px) {
	.footer .bg-image {
		width: 140%;
		height: auto;
		margin-top: 5vh;
		z-index: 1;
	}
	.footer .text {
		font-size: 16px;
		left: 4.5rem;
		bottom: 9.3%;
	}
	.badge {
		width: 30%;
		padding: 0;
	}
}

@media only screen and (max-width: 550px) {
	.footer .bg-image {
		width: 160%;
		height: auto;
		margin-top: 5vh;
		z-index: 1;
	}
	.footer .text {
		display: none;
	}
	.badge:empty {
		width: 30%;
		padding: 0;
	}
	.footer .social {
		width: 40px;
	}
	.footer .social.linkedin {
		left: 2rem;
	}
	.footer .social.mail {
		left: 6rem;
	}
	.footer .social.instagram {
		left: 10rem;
	}
	.footer .social.facebook {
		left: 14rem;
	}
}

@media only screen and (max-width: 450px) {
	.footer .social.instagram {
		display: none;
	}
	.footer .social.facebook {
		left: 10rem;
	}
}
