@import '../../../mixins';

#redirecting {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	img {
		width: 40%;
		margin-bottom: 2rem;
	}
}

.resources {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding-bottom: 15%;

	.body {
		padding: 9rem 7%;

		.title-col {
			margin-bottom: 1rem;
			text-align: center;
		}
	}

	.btn-group {
		display: flex;
		flex-direction: column;
		.link-tag {
			width: 70%;
			margin: 1rem 15%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
		}

		.btn {
			@include bluebutton;
			width: 100%;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
}
