.project {
	margin-bottom: 2rem;
	border-radius: 0.5rem;

	img {
		width: 100%;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: white;
		z-index: 3;
		text-decoration: none;
		transition: 0.5s ease;

		&:hover {
			cursor: pointer;
			transform: scale(1.03);
		}
	}
}
