@import '../../mixins';

.container {
	width: 80% !important;
	margin-left: 10%;
}

.buttons {
	margin-top: 1.5rem;
	margin-bottom: -1rem;
	@include mobile {
		margin-bottom: 0rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	span {
		margin-right: 2rem;
		@include mobile {
			margin-right: 0rem;
			margin-bottom: 15px;
			flex-grow: 1;
			display: flex;
			align-items: center;
		}
	}
}

.services {
	position: relative;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 2rem 0;
	

	.blobs {
		position: absolute;
		width: 90%;
		height: 93%;
		bottom: 0;
		right: 0;
		z-index: 1;
		@include mobile {
			width: 500%;
		}
	}

	h2 {
		@include subtitle;
		margin-top: 10%;
		margin-bottom: 2.5rem;
		z-index: 2;
		@include mobile {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}

	h3 {
		@include text-two;
		margin-top: 10%;
		margin-bottom: 2.5rem;
		z-index: 2;
		@include mobile {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}

	.cards {
		position: relative;
		display: flex;
		justify-content: space-between;
		z-index: 2;

		.card {
			@include box;
			max-width: 23%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			padding: 2rem 1.5%;
			padding-top: 0.5rem;
			margin-right: auto;
			margin-left: auto;
			@include mobile {
				padding: 1rem 1.5%;
				margin-bottom: 1rem;
				max-width: 90%;
			}

			.text {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			h3 {
				@include text-two;
				margin-bottom: 0.3rem;
			}

			p {
				@include text;
				width: 90%;
				font-size: 16px;
				margin-bottom: 1rem;
				@include mobile {
					margin-bottom: 1rem;
				}
			}

			img {
				height: 4rem;
				max-width: 90%;
				margin-top: 2rem;

				@include mobile {
					height: 3rem;
				}
			}
		}

		.sponsor-card {
			max-width: 31%;
			@include mobile {
				margin-bottom: 1rem;
				max-width: 90%;
			}
		}
	}
}

.contact {
	@include box;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 7%;
	@include mobile {
		margin-top: 0rem;
		max-width: 100%;
	}

	.title {
		@include subtitle;
		margin-bottom: 1.5rem;
		line-height: 140%;
		@include mobile {
			margin-top: 1rem;
		}
	}

	.subtitle {
		@include text;
		font-size: 22px;
		width: 90%;
		margin-bottom: 2rem;
		line-height: 130%;
		@include mobile {
			margin-bottom: -1rem;
		}
	}

	.form {
		width: 100%;
		display: flex;
		flex-direction: column;

		input,
		textarea {
			@include text;
			color: #000000;
			width: 100%;
			height: 100%;
			padding: 0.75rem;
			border-radius: 0.3rem;
			border: none;
			background: #ffffff;
			opacity: 1;
			z-index: 2;

			&:focus {
				outline: none;
			}
		}

		.field {
			padding: 5px;
			border-radius: 0.5rem;

			&.row {
				padding-bottom: 0px;




				
			}
		}

		.row {
			margin-top: 1.5rem;
		}

		.top-row {
			display: flex;
			justify-content: space-between;
			width: 100%;
			@include mobile {
				flex-direction: column;
			}

			.name {
				width: 26%;
				background: linear-gradient(to right, #d7adf8, #d7adf8);
				@include mobile {
					margin-top: 1.5rem;
					width: 100%;
				}
			}
			.company {
				width: 31%;
				background: linear-gradient(to right, #d7adf8, #b5c4fa);
				@include mobile {
					margin-top: 1.5rem;
					width: 100%;
				}
			}
			.email {
				width: 36%;
				background: linear-gradient(to right, #b3c6fa, #83e7fd);
				@include mobile {
					margin-top: 1.5rem;
					width: 100%;
				}
			}
		}

		.org-description {
			background: linear-gradient(to right, #d7adf8, #83e7fe);
		}
		.request {
			background: linear-gradient(to right, #d7adf8, #83e7fe);
		}
		.comments {
			background: linear-gradient(to right, #d7adf8, #83e7fe);
		}

		.error {
			@include text;
			color: red;
		}

		.submit {
			width: 20%;
			display: flex;
			justify-content: flex-start;
			margin-top: 2.25rem;
		
		}
	}
}

.instagram {
	margin-top: 10%;
}
