@import '../../mixins';
@import '../../variables';

.frame {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	@include mobile {
		left: -10px;
		width: 103%;
	}
}

.content {
	display: flex;
	justify-content: space-between;
	margin: 6.5% auto 10% 5%;
	width: 90% !important;

	.initiative {
		@include box;
		max-width: 31.5%;
		// width:31.5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 2.5rem 1% 3rem 1%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		@include mobile {
			margin-top: 10px;
			padding: 1.5rem 1% 1rem 1%;
			max-width: 100%;
		}

		h3 {
			@include text-two;
			width: 100%;
			color: $dark-purple;
			margin-bottom: 1rem;
			margin-top: 2rem;

			@include mobile {
				margin-bottom: 0.5rem;
			}
		}

		.description {
			@include text-three;
			width: 100%;
			font-size: 15px;
			width: 80%;
			text-align: center;
			margin: 0% auto 1.5rem auto;
			@include mobile {
				margin-bottom: 1rem;
			}
		}



		

		img {
			width: 30%;
			@include mobile {
				margin-top: 1rem;
				max-width: 17.5%;
			}
		}
	}
}

.header-wrapper {
	margin: 6.5% auto 10% 10%;
	width: 80% !important;
}
