@import '../../mixins';
@font-face {
	font-family: Rubiks;
	src: url('../../fonts/Rubik-SemiBold.ttf');
}

.container,
.join,
.staff {
	width: 80% !important;
	margin-left: 10%;

}


.carousel {
	margin-top: 2rem;
	margin-left: 6rem;
	margin-right: 6rem;
	z-index: 100;

	@include mobile {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.col {
		@include box;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 5%;
		width: 90%;
		height: 14rem;
		@include mobile {
			margin-top: 10px;
			justify-content: center;
			width: 80%;
		}
		margin-right: auto;
		margin-left: auto;

		img {
			height: 4rem;
			margin-bottom: 1rem;
			margin-top: 15%;
			margin-left: 7%;
			@include mobile {
				height: 4rem;
			}
		}
		h6 {
			@include text;
			font-size: 24px;
			line-height: 1.2rem;
			font-weight: 800;
			text-align: left;
			width: 90%;
			margin-top: 5%;
			margin-left: 7%;
			margin-bottom: 1rem;
		}

		h5 {
			@include text;
			color: #5f60ff;
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			line-height: 1.2rem;
			margin-bottom: 5%;
			width: 90%;
			margin-left: 7%;
		}


		p {
			@include text;
			font-size: 15px;
			text-align: left;
			line-height: 1.2rem;
			margin-bottom: 3%;
			width: 90%;
			margin-left: 7%;
		}
	}

	.carousel-arrow {
		margin-left: 20px;
		margin-right: 20px;
		z-index: 100;
		height: 50px;
	}

	.carousel-arrow:hover {
		cursor: pointer;
		filter: brightness(70%);
	}
}


.staff{
	margin-bottom: 10rem;
}

.logistics {
	display: flex;
	margin-top: 1.1rem;
	@include mobile {
		display: none;
	}

	.detail {
		display: flex;
		align-items: center;
		margin-right: 2rem;

		img {
			height: 2.3rem;
			margin-right: 0.75rem;
			@include mobile {
				width: 1rem;
			}
		}

		h5 {
			font-family: Rubiks;
			font-weight: 500;
			font-size: 20px;
			text-transform: uppercase;
			color: black;
			// @include mobile {
			// 	font-size: 15px !important;
			// 	display: none;
			//  }
		}
	}
}

.logistics-mobile {
	display: none !important;
	margin-top: 1.1rem;
	@include mobile {
		display: flex !important;
		margin-left: 0 !important;
	}

	.detail {
		display: flex;
		align-items: center;
		// margin-right: 2rem;
		img {
			height: 2.3rem;
			margin-right: 20px;
			@include mobile {
				height: 2rem;
			}
		}

		h5 {
			font-family: Rubiks;
			font-weight: 500;
			font-size: 16px;
			text-transform: uppercase;
			color: black;
		}
	}
}

.description {
	@include text;
	margin-top: 1.2rem;
	margin-bottom: 1.5rem;
}

.divider-header {
	@include subtitle;
	font-size: 30px;
	margin-top: 2rem;
	margin-bottom: 20px;
}

.join {
	margin-top: 2.5%;
}

.technologies {
	position: relative;

	.blobs {
		position: absolute;
		width: 100%;
		height: 125%;
		top: 0;
		margin-top: -8%;
		margin-left: -7%;
		z-index: 1;
		@include mobile {
			width: 160%;
			z-index: inherit;
		}
	}
}

.stack {
	@include box;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 9%;
	padding-bottom: 0;

	h5 {
		@include subtitle;
		margin-bottom: 1.7rem;
	}

	.branch {
		height: 7rem;
		margin-bottom: 4rem;
		max-width: 100%;
		@include mobile {
			height: 3rem;
		}
	}
}


.staff {
	position: relative;
	margin-top: 9.5%;

	h4 {
		@include subtitle;
		margin-bottom: 1.7rem;
		z-index: 2;
	}
}

.decal-header {
	margin-top:2.5%;
	margin-bottom: 5rem;
	width: 80% !important;
	margin: auto;
}
