.about {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding-bottom: 25%;

	.body {
		padding-top: 9rem;
	}

	.line-1 {
		position: absolute;
		left: -95.6px;
		top: 1rem;
	}
	.line-2 {
		position: absolute;
		right: -95.6px;
		top: 2rem;
	}

	.relative-container {
		background: #ffffff;
		padding: 0;
		position: relative;
		&.left-container {
			margin-right: 3%;
		}
		&.right-container {
			margin-left: 3%;
		}

		.inner-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			box-shadow: 5px 3px 23px rgba(0, 0, 0, 0.1);
			background: white;
			border-radius: 20px;
			padding: 2.5rem 4rem 3rem 4rem;
			z-index: 3;
			transition: 0.4s ease;
			text-decoration: none;
			&:hover {
				transform: scale(1.1);
				cursor: pointer;
				box-shadow: 8px 3px 23px rgba(0, 0, 0, 0.2);

				~ .left-rings {
					transform: scale(1.05);
				}

				~ .right-rings {
					transform: scale(1.05);
				}
			}
		}

		.left-rings {
			height: 150%;
			width: 90%;
			position: absolute;
			top: -30%;
			left: -9%;
			z-index: -1;
			transition: 1s ease;
			display: block;
		}

		.right-rings {
			height: 140%;
			width: 120%;
			position: absolute;
			top: -30%;
			right: -10%;
			z-index: -1;
			transition: 1s ease;
			display: block;
		}
	}

	.partner-link {
		text-decoration: none;
		width: 100%;
		display: flex;
		justify-content: center;

		.partner-container {
			border-radius: 20px;
			box-shadow: 5px 3px 23px rgba(0, 0, 0, 0.1);
			background: white;
			max-width: 72.5%;
			margin-top: 3.5rem;
			transition: 0.4s ease;
			z-index: 5;
			padding: 2.5rem 4rem 3rem 4rem;
			&:hover {
				transform: scale(1.1);
				cursor: pointer;
				box-shadow: 8px 3px 23px rgba(0, 0, 0, 0.2);
			}
		}
	}

	.sub-subtitle {
		font-size: 32px;
		line-height: 136%;
		text-align: center;
		letter-spacing: 0.15em;
		font-weight: 550;
		margin-top: 2.5rem;
		margin-bottom: 3rem;
		color: #9f5ef4;
	}

	.subject-header {
		color: #5f60ff;
		text-align: center;
		font-size: 29px;
		font-weight: 700;
		margin-bottom: 0.7rem;
		text-transform: uppercase;
		letter-spacing: 0.32em;
		font-family: Montserrat;
	}
	.subject-text {
		color: #727272;
		font-size: 22px;
		line-height: 23px;
		text-align: center;
		letter-spacing: 0.07em;
	}

	@media only screen and (max-width: 1800px) {
		.sub-subtitle {
			font-size: 24px;
		}
		.relative-container {
			.inner-container {
				background: white;
				padding: 2rem;
				border-radius: 20px;
			}
		}
		.subject-header {
			font-size: 19px;
		}
		.subject-text {
			font-size: 16px;
			line-height: 19px;
		}
		.partner-link {
			.partner-container {
				padding: 2rem 4rem;
				max-width: 72.85%;
				margin-top: 2.5rem;
				border-radius: 20px;
			}
		}
	}

	@media only screen and (max-width: 1600px) {
		.line-1 {
			top: 1rem;
		}
		.line-2 {
			top: 3rem;
		}
		.left-rings {
			height: 130%;
			width: 100%;
			position: absolute;
			top: -15%;
			left: -9%;
			z-index: -1;
			transition: 1s ease;
			display: block;
		}

		.right-rings {
			height: 130%;
			width: 130%;
			position: absolute;
			top: -25%;
			right: -15%;
			z-index: -1;
			transition: 1s ease;
			display: block;
		}
		.relative-container {
			.inner-container {
				height: 300px;
				justify-content: center;
			}
		}
	}

	@media only screen and (max-width: 992px) {
		.body {
			padding-top: 0;
		}
		.line-2 {
			top: 6rem;
		}
		.left-rings {
			display: none;
		}
		.right-rings {
			display: none;
		}
		.inner-container {
			height: 500px;
		}
	}

	@media only screen and (max-width: 768px) {
		.line-1 {
			left: -175.6px;
		}
		.line-2 {
			right: -35%;
			top: 9rem;
		}
		.relative-container {
			max-width: 80%;
			margin-bottom: 2rem;
		}
		.left-container {
			margin-right: 0;
		}
		.right-container {
			margin-left: 0;
		}
		.inner-container {
			padding: 2rem;
			border-radius: 20px;
			height: auto;
		}
		.partner-container {
			padding: 2rem;
			max-width: 80%;
			margin-top: 0;
		}
		.left-rings {
			display: none;
		}
		.right-rings {
			display: none;
		}
	}

	@media only screen and (max-width: 576px) {
		.sub-subtitle {
			font-size: 20px;
			margin-bottom: 2rem;
			margin-top: 1rem;
		}
		.line-1 {
			left: -185.6px;
			top: 1rem;
		}
		.line-2 {
			right: -205.6px;
			top: 7rem;
		}
		.inner-container {
			border-radius: 17px;
			padding: 1.5rem;
		}
		.partner-container {
			padding: 1.5rem;
			border-radius: 17px;
		}
		.subject-header {
			font-size: 17px;
		}
		.subject-text {
			font-size: 14px;
		}
	}

	@media only screen and (max-width: 400px) {
		.sub-subtitle {
			font-size: 20px;
			width: 80%;
			margin-left: 10%;
		}

		.line-2 {
			top: 10rem;
		}
		.inner-container {
			padding: 1.5rem 1rem;
		}
		.partner-container {
			padding: 1.5rem 1rem;
		}
	}
}
