.error {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding-bottom: 20%;

	.body {
		padding-top: 9rem;
		max-width: 90%;
		margin: 0 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 80vh;

		.message {
			width: 50%;
		}
	}

	@media only screen and (max-width: 992px) {
		.body {
			padding-top: 0;

			.message {
				width: 90%;
			}
		}
	}
}
