.team {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding-bottom: 20%;
	.body {
		padding: 9rem 5%;
		padding-bottom: 4%;
	}

	.title-col {
		margin-bottom: 2%;

		.bold {
			font-weight: 500;
		}
	}

	.exec-container {
		align-items: center;
		.text-col {
			padding-right: 5%;
			.name {
				font-family: Raleway;
				font-weight: 900;
				font-size: 3vw;
				letter-spacing: 0.22em;
				text-transform: uppercase;
				margin-bottom: 1%;
			}
			.role {
				font-size: 1.5vw;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				color: #5f60ff;
				margin-bottom: 2%;
			}
			.exec-description {
				font-size: 1.4vw;
				line-height: 1.6;
				letter-spacing: 0.07em;
				color: #000000;
				margin-bottom: 2rem;
			}
		}

		.social-row {
			display: flex;
			margin-top: 3%;
			.social-icon {
				transition: 0.2s ease;
				height: 2.6rem;
				&:hover {
					transform: scale(1.02);
				}
			}
			#linkedin {
				margin-right: 4%;
			}
			a:hover {
				text-decoration: none;
			}
		}

		.image-col {
			width: 100%;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			.team-image {
				max-width: 85%;
				transition: 0.5s ease;
				border-radius: 50%;
				margin: 8% 0;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	.bubbles {
		position: absolute;
		right: 2%;
		z-index: -1;
		max-width: 100vw;
		max-height: 100vh;
	}

	&.team-desktop {
		display: block;
	}

	&.team-mobile {
		display: none;
	}

	@media only screen and (max-width: 992px) {
		.body {
			padding-top: 0;
		}

		.exec-container {
			.text-col {
				padding-right: 2%;
				.name {
					font-size: 4vw;
					margin-bottom: 1%;
				}
				.role {
					font-size: 2.5vw;
					margin-bottom: 2%;
				}
				.exec-description {
					font-size: 2vw;
					margin-bottom: 1rem;
				}
			}

			.social-row {
				.social-icon {
					transition: 0.2s ease;
					height: 4.5vw;
				}
				.social-icon:hover {
					transform: scale(1);
				}
				#linkedin {
					margin-right: 9%;
				}
			}
		}
	}

	@media only screen and (max-width: 720px) {
		.col-6 {
			display: flex;
			justify-content: center;
			margin-bottom: 2rem;
		}

		&.team-desktop {
			display: none;
		}

		&.team-mobile {
			display: block;
		}
	}

	@media only screen and (max-width: 520px) {
		img {
			width: 100%;
		}
	}
}
