@import '../../mixins';

.header {
	width: 80% !important;

	position: relative;
	z-index: 3;
	@include mobile {
		margin-top: 50px;
	}

	.title {
		@include page-heading;
		@include mobile {
			margin-bottom: 1rem;
		}
	}

	.subtitle {
		@include subtitle-two;
		margin-bottom: 0.3rem;
		@include mobile {
			margin-top: 0.5rem;
		}
	}

	.description {

		@include text;
		@include mobile {
			margin-top: 0.5rem;
		}
	}
}

.sub-header {
	width: 70%;
	z-index: 100;

	.title {
		@include subtitle;
		margin-bottom: 0.3rem;
	}

	.description {
		@include text;
		margin-bottom: 1.2rem;
	}
}
