@import '../../mixins';

.header {
	@include subtitle;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.container {
	align-items: center;
	margin-bottom: 10rem;
}

.group {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
