.about .body {
	padding-top: 19vh;
}
.about .subtitle {
	font-size: 22px;
	line-height: 136%;
	letter-spacing: 0.17em;
	margin-top: 2rem;
}
.about .sub-subtitle {
	font-size: 24px;
	line-height: 136%;
	text-align: center;
	letter-spacing: 0.17em;
	font-weight: 550;
	margin-top: 2.5rem;
	margin-bottom: 3rem;
}
.about .relative-container {
	position: relative;
}
.about .wires {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 7vh;
}
.about .content-box {
	position: absolute;
	top: 0;
	box-shadow: 5px 3px 23px rgba(0, 0, 0, 0.07);
	background: #ffffff;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	padding: 2rem 2rem 3rem 2rem;
	margin-top: 3rem;
	z-index: 3;
	min-height: 37vh;
}
.about .subject-header {
	color: #5f60ff;
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.23em;
}
.about .subject-text {
	color: #727272;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.07em;
}
