.about {
	overflow: hidden;
}

.about .body {
	padding-top: 11rem;
}
.about .subtitle {
	font-size: 32px;
	line-height: 136%;
	letter-spacing: 0.17em;
	margin-top: 2rem;
}
.about .line-1 {
	position: absolute;
	left: -95.6px;
	top: 1rem;
}
.about .line-2 {
	position: absolute;
	right: -95.6px;
	top: 2rem;
}
.about .sub-subtitle {
	font-size: 32px;
	line-height: 136%;
	text-align: center;
	letter-spacing: 0.17em;
	font-weight: 550;
	margin-top: 2.5rem;
	margin-bottom: 3rem;
	color: #9f5ef4;
}

.about .relative-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 3px 23px rgba(0, 0, 0, 0.1);
	background: #ffffff;
	border-radius: 46px;
	padding: 2.5rem 4rem 3rem 4rem;
	transition: 0.3s ease;
	z-index: 3;
}
.about .relative-container:hover {
	transform: scale(1.1);
	cursor: pointer;
	box-shadow: 8px 3px 23px rgba(0, 0, 0, 0.2);
}
.about .left-container {
	margin-right: 2%;
}
.about .right-container {
	margin-left: 2%;
}

.about .partner-container {
	padding: 2.5rem 4rem 3rem 4rem;
	max-width: 70.5%;
	margin-top: 3.5rem;
}

.about .subject-header {
	color: #5f60ff;
	text-align: center;
	font-size: 29px;
	font-weight: 700;
	margin-bottom: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 0.32em;
	font-family: Montserrat;
}
.about .subject-text {
	color: #727272;
	font-size: 22px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.07em;
}

@media only screen and (max-width: 1800px) {
	.about .body {
		padding-top: 9rem;
	}
	.about .subject-header {
		font-size: 19px;
	}
	.about .subject-text {
		font-size: 16px;
		line-height: 19px;
	}
	.about .relative-container {
		border-radius: 32px;
		padding: 2rem;
	}
	.about .subtitle {
		font-size: 22px;
	}
	.about .sub-subtitle {
		font-size: 24px;
	}
	.about .partner-container {
		padding: 2rem 4rem;
		max-width: 71%;
		margin-top: 2rem;
	}
}

@media only screen and (max-width: 1600px) {
	.about .line-1 {
		top: 1rem;
	}
	.about .line-2 {
		top: 3rem;
	}
}

@media only screen and (max-width: 992px) {
	.about .body {
		padding-top: 7vh;
	}
	.about .line-2 {
		top: 6rem;
	}
}

@media only screen and (max-width: 768px) {
	.about .line-1 {
		left: -175.6px;
	}
	.about .line-2 {
		right: -35%;
		top: 9rem;
	}
	.about .relative-container {
		max-width: 80%;
		margin-bottom: 2rem;
	}
	.about .left-container {
		margin-right: 0;
	}
	.about .right-container {
		margin-left: 0;
	}
	.about .partner-container {
		padding: 2rem;
		max-width: 80%;
		margin-top: 0;
	}
}

@media only screen and (max-width: 576px) {
	.about .header {
		font-size: 36px;
	}
	.about .subtitle {
		font-size: 16px;
	}
	.about .sub-subtitle {
		font-size: 20px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
	.about .line-1 {
		left: -185.6px;
		top: 1rem;
	}
	.about .line-2 {
		right: -205.6px;
		top: 7rem;
	}
	.about .relative-container {
		padding: 1.5rem;
		border-radius: 17px;
	}
	.about .subject-header {
		font-size: 17px;
	}
	.about .subject-text {
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	.about .header {
		font-size: 32px;
		text-shadow: 1px 1px #00f8f9, 2px 2px #5f60ff;
	}
	.about .sub-subtitle {
		font-size: 20px;
		width: 80%;
		margin-left: 10%;
	}

	.about .line-2 {
		top: 10rem;
	}
	.about .relative-container {
		padding: 1.5rem 1rem;
	}
}
