.about {
	overflow: hidden;
}

.about .body {
	padding-top: 15vh;
}
.about .subtitle {
	font-size: 22px;
	line-height: 136%;
	letter-spacing: 0.17em;
	margin-top: 2rem;
}
.about .line-1 {
	position: absolute;
	left: -95.6px;
	top: 1vh;
}
.about .line-2 {
	position: absolute;
	right: -95.6px;
	top: 10vh;
}
.about .sub-subtitle {
	font-size: 24px;
	line-height: 136%;
	text-align: center;
	letter-spacing: 0.17em;
	font-weight: 550;
	margin-top: 2.5rem;
	margin-bottom: 3rem;
	color: #9f5ef4;
}
.about .relative-container {
	display: flex;
	height: 9rem;
	margin-bottom: 5vh;
	justify-content: center;
}
.about .left-container {
	justify-content: flex-end;
	margin-right: 2%;
	height: 17rem;
}
.about .right-container {
	justify-content: flex-start;
	margin-left: 2%;
	height: 17rem;
}
.about .wires {
	z-index: 2;
	/* position: absolute;
	top: 0;
	left: 0; */
	width: 100%;
}
.about .content-box {
	position: absolute;
	box-shadow: 5px 3px 23px rgba(0, 0, 0, 0.1);
	background: #ffffff;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	padding: 3rem;
	width: 75%;
	height: 100%;
	z-index: 3;
	transition: 0.3s ease;
}
.about .partner-box {
	justify-content: center;
	padding: 2rem 3rem;
	width: 82.5%;
}
.about .content-box:hover {
	transform: scale(1.15);
	cursor: pointer;
}
.about .subject-header {
	color: #5f60ff;
	text-align: center;
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.32em;
	font-family: Montserrat;
}
.about .subject-text {
	color: #727272;
	font-size: 16px;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.07em;
}

@media only screen and (max-width: 1200px) {
	.about .content-box {
		padding: 2rem;
		width: 80%;
	}
	.about .partner-box {
		width: 88%;
	}
}

@media only screen and (max-width: 992px) {
	.about .relative-container {
		height: 11rem;
	}
	.about .left-container {
		height: 20rem;
	}
	.about .right-container {
		height: 20rem;
	}
	.about .content-box {
		padding: 1.5rem;
	}
	.about .partner-box {
		width: 89%;
	}
	.about .body {
		padding-top: 7vh;
	}
}

@media only screen and (max-width: 768px) {
	.about .line-1 {
		left: -175.6px;
	}
	.about .line-2 {
		right: -35%;
		top: 15vh;
	}
	.about .relative-container {
		height: 11rem;
	}
	.about .left-container {
		justify-content: center;
		margin-right: 0;
		height: 12.5rem;
	}
	.about .right-container {
		justify-content: center;
		margin-left: 0;
		height: 12.5rem;
	}
	.about .content-box {
		padding: 2rem;
		width: 80%;
	}
}

@media only screen and (max-width: 576px) {
	.about .header {
		font-size: 36px;
	}
	.about .subtitle {
		font-size: 16px;
	}
	.about .sub-subtitle {
		font-size: 20px;
	}
	.about .line-1 {
		left: -235.6px;
		top: 1vh;
	}
	.about .line-2 {
		right: -235.6px;
		top: 10vh;
	}
	.about .subject-header {
		margin-bottom: 0.5rem;
	}
	.about .content-box {
		width: 85%;
	}
	.about .partner-box {
		justify-content: center;
		padding: 0.5rem 1rem;
		width: 85%;
		margin-bottom: 3vh;
	}
	.about .relative-container {
		height: 13rem;
	}
	.about .content-box:hover {
		transform: scale(1.1);
	}
	.about .left-container {
		height: 17rem;
	}
	.about .right-container {
		height: 16rem;
	}
}

@media only screen and (max-width: 400px) {
	.about .header {
		font-size: 32px;
		text-shadow: 1px 1px #00f8f9, 2px 2px #5f60ff;
	}
	.about .subtitle {
		font-size: 16px;
	}
	.about .sub-subtitle {
		font-size: 18px;
	}
	.about .line-1 {
		top: 2vh;
	}
	.about .line-2 {
		top: 15vh;
	}
	.about .relative-container {
		height: 15rem;
		margin-bottom: 1vh;
	}
	.about .left-container {
		height: 18rem;
		margin-bottom: 2rem;
	}
	.about .right-container {
		height: 17rem;
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: 360px) {
	.about .relative-container {
		height: 17rem;
		margin-bottom: 0;
	}
	.about .left-container {
		height: 20rem;
		margin-bottom: 2rem;
	}
	.about .right-container {
		height: 19rem;
		margin-bottom: 2rem;
	}
}
