html,
body {
	min-height: 100vh;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.header {
	font-family: Raleway;
	font-size: 64px;
	letter-spacing: 0.22em;
	text-transform: uppercase;
	text-shadow: 2px 2px #00f8f9, 4px 4px #5f60ff;
	text-align: center;
}

.selectDisable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@media only screen and (max-width: 1800px) {
	.header {
		font-size: 45px;
	}
}
