.apply .body {
	padding-top: 15vh;
}

.long-arrow-top {
	width: 90%;
	margin-left: 5%;
}
.secondary-header {
	font-size: 42px;
	line-height: 49px;
	letter-spacing: 0.12em;
	color: #000000;
	font-family: Raleway;
	font-weight: 700;
	margin-top: 1rem;
}
.timeline-text {
	font-size: 23px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #000000;
	font-family: Raleway;
	font-weight: 700;
}

.long-arrow-row {
	display: flex;
	justify-content: center;
	width: 90%;
	margin-left: 5%;
}
.long-arrow {
	width: 100%;
}

.long-arrow-bottom {
	width: 90%;
	margin-left: 5%;
}
.descriptive-text {
	font-weight: 300;
	font-size: 32px;
	line-height: 1.1;
	letter-spacing: 0.12em;
	color: #000000;
	min-height: 11rem;
}
.recruitment-text {
	font-size: 21px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.13em;
	color: #000000;
	margin-top: -0.5rem;
}

.toggle-row {
	padding: 0 3%;
}
.card {
	border: 0;
	box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
	margin: 4rem 3% 5rem 3%;
}
.toggle {
	background: transparent;
}
.toggle:hover {
	cursor: pointer;
}
.toggle-top {
	display: flex;
	align-items: center;
}
.toggle-arrow {
	padding: 0 5%;
	width: 56px;
}
.role {
	font-family: Raleway;
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #000000;
}

.teacher-arrow {
	margin-left: 25.8%;
	top: -11rem;
	height: 15rem;
	position: absolute;
}
.student-arrow {
	margin-left: 50%;
	top: -8.25rem;
	height: 12.5rem;
	position: absolute;
	width: 112%;
}
.developer-arrow {
	margin-left: 50%;
	top: -8rem;
	height: 12.5rem;
	position: absolute;
	width: 25%;
}

@media only screen and (max-width: 1346px) {
	.role {
		font-size: 32px;
	}
	.teacher-arrow {
		top: -13rem;
		height: 18rem;
	}
	.student-arrow {
		top: -10.25rem;
		height: 15.5rem;
	}
	.developer-arrow {
		top: -10rem;
		height: 15.5rem;
	}
	.secondary-header {
		font-size: 36px;
	}
	.card {
		margin: 5rem 3% 5rem 3%;
	}
}

@media only screen and (max-width: 1145px) {
	.role {
		font-size: 28px;
	}
	.secondary-header {
		font-size: 34px;
	}
	.teacher-arrow {
		top: -15rem;
		height: 20rem;
		margin-left: 22.5%;
	}
	.student-arrow {
		top: -12.75rem;
		height: 18rem;
		width: 110%;
	}
	.developer-arrow {
		top: -12.5rem;
		height: 18rem;
		width: 24%;
	}
}

@media only screen and (max-width: 992px) {
	.role {
		font-size: 28px;
	}
	.secondary-header {
		font-size: 34px;
	}
	.teacher-arrow {
		top: -15rem;
		height: 20rem;
		margin-left: 22.5%;
		display: none;
	}
	.student-arrow {
		top: -12.75rem;
		height: 18rem;
		width: 50%;
		display: none;
	}
	.developer-arrow {
		top: -12.5rem;
		height: 18rem;
		width: 24%;
		display: none;
	}
}
