.landing-navbar {
	padding: 10vh 0 0 7%;
}

.landing-navbar .logo {
	margin-right: 1.5rem;
	width: 150px;
}

.landing-navbar .link-tag:hover {
	text-decoration: none;
}

.landing-navbar .nav-text {
	font-size: 29px;
	color: white;
	padding: 0;
	margin: 0 0.7rem;
	letter-spacing: 0.11em;
	text-transform: uppercase;
}

.landing-navbar p:after {
	display: block;
	content: '';
	border-bottom: solid 1px #ffffff;
	transform: scaleX(0);
	transition: transform 350ms ease-in-out;
}
.landing-navbar p:hover:after {
	transform: scaleX(1);
}
.landing-navbar p.nav-text:after {
	transform-origin: 0% 50%;
}

.landing-navbar .tab-text {
	padding-left: 1.5rem;
}
.landing-navbar .tab-text-container {
	display: none;
}

@media only screen and (max-width: 1700px) {
	.landing-navbar .nav-text {
		font-size: 19px;
	}
	.logo {
		width: 100px;
	}
}

@media only screen and (max-width: 992px) {
	#basic-navbar-nav {
		padding-top: 1vh;
		margin-left: -3%;
	}
	.landing-navbar {
		padding: 5vh 10% 0 7%;
	}
	.landing-navbar p:after {
		display: none;
		content: '';
		border-bottom: none;
	}
	.landing-navbar .tab-text-container {
		display: inline;
	}
}
