.partnerships {
	padding-bottom: 23%;
}

.partnerships .blobs {
	position: absolute;
	width: 100%;
	top: 13rem;
	z-index: -1;
	left: 0;
}
.partnerships .partner {
	max-width: 100%;
	padding: 1rem;
	transition: 1s ease;
	border-radius: 50%;
	min-width: 80%;
	pointer-events: auto;
}
.partner-col {
	pointer-events: none;
	transition: 1.5s ease;
}
.partnerships .partner:hover {
	transform: scale(1.1);
}
.partnerships .partner-col:hover {
	margin: 0 3%;
}

.partnerships .cloud,
.partnerships .grotech {
	margin-top: 7rem;
}

@media only screen and (max-width: 1800px) {
	.right-nav {
		height: 7rem;
	}
	.partnerships .cloud,
	.partnerships .grotech {
		margin-top: 4rem;
	}
}

@media only screen and (max-width: 992px) {
	.right-nav {
		display: none;
	}
	.partnerships .blobs {
		top: 5rem;
	}
}

@media only screen and (max-width: 800px) {
	.partnerships .blobs {
		top: 7rem;
	}
	.partnerships .cloud,
	.partnerships .grotech {
		margin-top: 0;
	}
}

@media only screen and (max-width: 500px) {
	.partnerships .blobs {
		top: 22rem;
	}
}
