.site-navbar {
	position: relative;
	padding-top: 2.5rem;
}
.site-navbar .nav-background {
	position: absolute;
	width: 47.5%;
	height: 6.5rem;
	z-index: 2;
}
.site-navbar .nav-background-1 {
	position: absolute;
	top: 1rem;
	left: 1.5%;
	z-index: 1;
}
.site-navbar .nav-background-2 {
	position: absolute;
	top: 6rem;
	left: -8%;
	z-index: 3;
}
.site-navbar .text {
	position: absolute;
	top: 2.5rem;
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: space-between;
	align-items: center;
	margin-left: 5%;
	height: 3rem;
	z-index: 4;
}
.site-navbar .nav-text {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 0.11em;
}
.site-navbar .link-tag:hover {
	text-decoration: none;
}

.site-navbar p:after {
	display: block;
	content: '';
	border-bottom: solid 1px #ffffff;
	transform: scaleX(0);
	transition: transform 350ms ease-in-out;
}
.site-navbar p:hover:after {
	transform: scaleX(1);
}
.site-navbar p.nav-text:after {
	transform-origin: 0% 50%;
}

.site-navbar .dropdown-content p:after {
	border-bottom: transparent;
}

.site-navbar .nav-text mark {
	color: #ffffff;
	background-color: #00f8f9;
	transition: 0.3s ease;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}
.site-navbar .nav-text:hover mark {
	background-color: #5f60ff;
}
.site-navbar .dropdown {
	position: relative;
	display: inline-block;
}
.site-navbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: transparent;
	min-width: 160px;
	padding-top: 1rem;
	z-index: 1;
	transition: 0.5s ease;
}
.site-navbar .dropdown-content .link-tag {
	padding-bottom: 0.5rem;
	display: block;
}
.site-navbar .dropdown:hover .dropdown-content {
	display: block;
}

@media only screen and (max-width: 1300px) {
	.site-navbar .nav-background {
		width: 52.5%;
	}
	.site-navbar .text {
		width: 45%;
	}
}

@media only screen and (max-width: 1150px) {
	.site-navbar .nav-background {
		width: 57.5%;
	}
	.site-navbar .text {
		width: 50%;
	}
	.site-navbar .nav-background-2 {
		left: -10%;
	}
}
