.site-navbar {
	position: relative;
	padding-top: 1.75rem;
}
.site-navbar .nav-background {
	position: absolute;
	height: 9rem;
	z-index: 2;
	width: 925px;
}
.logo-rainbow {
	position: absolute;
	right: 2rem;
	top: 2.5rem;
	width: 150px;
}

.site-navbar .text {
	position: absolute;
	top: 3.3rem;
	display: flex;
	flex-direction: row;
	/* width: 40%; */
	justify-content: space-between;
	align-items: center;
	margin-left: 3%;
	height: 3rem;
	z-index: 4;
}
.site-navbar .nav-text {
	color: white;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.11em;
	margin-left: 1.1rem;
}
.site-navbar .link-tag:hover {
	text-decoration: none;
}

.site-navbar p:after {
	display: block;
	content: '';
	border-bottom: solid 1px #ffffff;
	transform: scaleX(0);
	transition: transform 350ms ease-in-out;
}
.site-navbar p:hover:after {
	transform: scaleX(1);
}
.site-navbar p.nav-text:after {
	transform-origin: 0% 50%;
}

.site-navbar .dropdown-content p:after {
	border-bottom: transparent;
}

.site-navbar .nav-text mark {
	color: #ffffff;
	background-color: #00f8f9;
	transition: 0.3s ease;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}
.site-navbar .nav-text:hover mark {
	background-color: #5f60ff;
}
.site-navbar .dropdown {
	position: relative;
	display: inline-block;
}
.site-navbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: transparent;
	min-width: 160px;
	padding-top: 1rem;
	z-index: 1;
	transition: 0.5s ease;
}
.site-navbar .dropdown-content .link-tag {
	padding-bottom: 0.5rem;
	display: block;
}
.site-navbar .dropdown:hover .dropdown-content {
	display: block;
}

.site-navbar-mobile .nav-text {
	background: -webkit-linear-gradient(left, #00f8f9, #5f60ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.site-navbar-mobile {
	display: none;
}
.site-navbar {
	display: block;
}

@media only screen and (max-width: 1900px) {
	.site-navbar .nav-text {
		color: white;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 0.11em;
		margin-left: 1rem;
	}
	.site-navbar .nav-background {
		width: 780px;
	}
}

@media only screen and (max-width: 1500px) {
	.site-navbar .nav-text {
		margin-left: 0.9rem;
	}
	.site-navbar .text {
		top: 3rem;
	}
	.site-navbar .nav-background {
		height: 8rem;
	}
}

@media only screen and (max-width: 1150px) {
	.site-navbar .nav-text {
		color: white;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 0.11em;
		margin-left: 0.9rem;
	}
	.site-navbar .nav-background {
		width: 690px;
	}
}

@media only screen and (max-width: 991px) {
	.site-navbar-mobile {
		display: flex;
	}
	.site-navbar {
		display: none;
	}
}
