.team .body {
	padding: 15vh 5% 5vh 5%;
}

.title-col {
	margin-bottom: 5vh;
}

.team .text-col {
	padding-right: 5%;
	margin-top: 2vh;
}
.team .name {
	font-family: Raleway;
	font-style: normal;
	font-weight: 900;
	font-size: 43px;

	text-align: left;
	letter-spacing: 0.22em;
	text-transform: uppercase;
}
.team .role {
	font-size: 19px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #5f60ff;
	margin-bottom: 1.5rem;
}
.team .description {
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.07em;
	color: #000000;
}

.team .social-row {
	display: flex;
	margin-top: 1vh;
}
.linkedin-icon {
	margin-right: 15px;
}
.team .social-row a:hover {
	text-decoration: none;
}

.team .bubbles {
	position: absolute;
	right: 2%;
	z-index: -1;
}

.team .image-col {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team .team-image {
	max-width: 100%;
	transition: 0.5s ease;
	border-radius: 50%;
}
.team .team-image:hover {
	transform: scale(1.2);
}
.team .member-1 {
	margin-top: 7vh;
	width: 95%;
	/* transform: translateX(20%); */
}
.team .member-2 {
	margin-top: 8vh;
	margin-right: 10%;
}
.team .member-3 {
	margin-top: -3vh;
	width: 90%;
}
.member-4 {
	margin-top: 5vh;
	margin-right: 5%;
	width: 90%;
}
.team .member-5 {
	margin-top: 5vh;
	width: 100%;
}
.team .member-6 {
	margin-top: 10vh;
	margin-left: 3%;
	width: 90%;
}
