.team {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding-bottom: 20%;
}

.team .body {
	padding: 11rem 5% 5vh 5%;
}

.team .title-col {
	margin-bottom: 5vh;
}
.team .subtitle {
	font-size: 32px;
	line-height: 136%;
	text-align: center;
	letter-spacing: 0.14em;
	color: #000000;
	padding-right: 3rem;
	padding-left: 3rem;
	margin-top: 1rem;
	width: 80%;
}

.team .text-col {
	padding-right: 5%;
	margin-top: 2vh;
}
.team .name {
	font-family: Raleway;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	text-align: left;
	letter-spacing: 0.22em;
	text-transform: uppercase;
}
.team .role {
	font-size: 35px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #5f60ff;
	margin-bottom: 1.5rem;
}
.team .exec-description {
	font-size: 33px;
	line-height: 36px;
	letter-spacing: 0.07em;
	color: #000000;
	margin-bottom: 2rem;
}
.team .description {
	font-size: 33px;
	line-height: 36px;
	letter-spacing: 0.07em;
	color: #000000;
	margin-bottom: 2rem;
	width: 80%;
	margin: 0 auto 2rem auto;
}

.team .social-row {
	display: flex;
	margin-top: 1vh;
}
.social-icon {
	transition: 0.3s ease;
}
.social-icon:hover {
	transform: scale(1.1);
}
#linkedin {
	margin-right: 45px;
}
.linkedin-icon {
	height: 60px;
}
.mail-icon {
	height: 60px;
}
.team .social-row a:hover {
	text-decoration: none;
}

.team .bubbles {
	position: absolute;
	right: 2%;
	z-index: -1;
	max-width: 100vw;
	max-height: 100vh;
}

.team .image-col {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team .team-image {
	max-width: 100%;
	transition: 0.5s ease;
	border-radius: 50%;
}
.team .team-image:hover {
	transform: scale(1.1);
}
.team .member-1 {
	margin-top: 10vh;
	width: 85%;
}
.team .member-2 {
	margin-top: 11vh;
	margin-right: 10%;
	width: 90%;
}
.team .member-3 {
	margin-top: 0;
	width: 80%;
}
.member-4 {
	margin-top: 8vh;
	margin-right: 3%;
	width: 80%;
}
.team .member-5 {
	margin-top: 8vh;
	width: 90%;
}
.team .member-6 {
	margin-top: 13vh;
	margin-left: 7%;
	width: 80%;
}

@media only screen and (max-width: 1800px) {
	.team .body {
		padding: 9rem 5% 5vh 5%;
	}
	.team .subtitle {
		font-size: 23px;
		margin-top: 0;
	}
	.team .name {
		font-size: 43px;
	}
	.team .role {
		font-size: 19px;
	}
	.team .exec-description {
		font-size: 21px;
	}
	.team .description {
		font-size: 21px;
		line-height: 25px;
		margin-bottom: 0;
	}
	#linkedin {
		margin-right: 15px;
	}
	.linkedin-icon {
		height: 40px;
	}
	.mail-icon {
		height: 40px;
	}
	.team .member-1 {
		margin-top: 7vh;
		width: 95%;
	}
	.team .member-2 {
		margin-top: 8vh;
		margin-right: 10%;
	}
	.team .member-3 {
		margin-top: -3vh;
		width: 90%;
	}
	.member-4 {
		margin-top: 5vh;
		margin-right: 5%;
		width: 90%;
	}
	.team .member-5 {
		margin-top: 5vh;
		width: 100%;
	}
	.team .member-6 {
		margin-top: 10vh;
		margin-left: 3%;
		width: 90%;
	}
}

@media only screen and (max-width: 992px) {
	.team .body {
		padding: 7vh 5% 5vh 5%;
	}
	.team .name {
		font-size: 32px;
		margin-top: -1.5rem;
	}
	.team .role {
		font-size: 16px;
		margin-bottom: 1rem;
		margin-top: 0.2rem;
	}
	.exec-description {
		font-size: 18px;
	}
	.team .description {
		font-size: 18px;
	}
}

@media only screen and (max-width: 640px) {
	.team .body {
		padding: 7vh 5% 0 5%;
	}
	.title-col {
		margin-bottom: 0;
	}
	.team .subtitle {
		font-size: 18px;
		padding-top: 0.5rem;
		padding-right: 0.2rem;
		padding-left: 0.2rem;
	}
	.member-modal {
		width: 90%;
		margin: 0 5%;
	}
	.member-modal .name {
		font-size: 26px;
		margin-top: 1rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	.member-modal .role {
		font-size: 16px;
		margin-top: 0.2rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	.exec-description {
		font-size: 16px;
	}
	.member-modal .description {
		font-size: 16px;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	.team .team-image {
		max-width: 85%;
		margin: 0.7rem 7.5%;
	}
	#linkedin {
		margin-right: 15px;
		margin-left: 1.5rem;
	}
	.linkedin-icon {
		height: 40px;
		margin: 0.6rem 0 0.8rem 0;
	}
	.mail-icon {
		height: 40px;
		margin: 0.6rem 0 0.8rem 0;
	}
	.team .bubbles {
		position: absolute;
		margin-top: 10vh;
		z-index: -1;
		max-width: 100vw;
		max-height: 100vh;
		transform: rotate(90deg);
	}
	.team .image-col {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.team .team-image:hover {
		transform: scale(1.1);
	}
	.team .role {
		margin-bottom: 0;
	}
	.modal-content {
		border-radius: 10px;
	}
}

@media only screen and (max-width: 400px) {
	.team .header {
		font-size: 32px;
	}
}
