.apply {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding-bottom: 20%;

	.body {
		padding: 9rem 3%;
	}

	.subtitle {
		width: 80%;
	}

	.timeline {
		width: 80%;
		margin: 6vw 2vw 0 2vw;
	}
	.mobile-timeline {
		display: none;
	}
	.recruitment-timeline-mobile {
		width: 100%;
		margin: 0;
		display: none;
	}

	.apply-button {
		color: white;
		background-image: linear-gradient(to right, #51f4f9, #55c9fb);
		padding: 12px;
		padding-left: 35px;
		padding-right: 35px;
		font-size: 30px;
		border-radius: 300px;
		width: 350px;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		transition: all 0.5s ease;
		&:hover {
			color: white;
			transform: scale(1.05);
			text-decoration: none;
		}
	}
	.infosession-button {
		margin-bottom: 2rem;
		background-image: linear-gradient(to right, #9f5ef4, #5f60ff);
		opacity: 0.77;
	}

	.recruitment-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 1%;

		.subtitle {
			margin-top: 0%;
			margin-bottom: 3%;
		}

		.button-row {
			display: flex;
			flex-direction: row;

			.form-button {
				margin: 0px 1vw;
			}
			.button-text {
				font-size: 1.5vw;
			}
		}

		.interested {
			font-family: 'Raleway';
			font-weight: 700;
			font-size: 2.2vw;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: #5f60ff;
			margin-top: 3vw;
			margin-bottom: 2vw;
		}
		.learn-button {
			margin: 0px 2vw;
			margin-bottom: 70px;
		}
		.open-role-title {
			font-family: 'Raleway';
			font-weight: 700;
			font-size: 2.2vw;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: #5f60ff;
			margin-bottom: 3vw;
			margin-top: 9vw;
		}
		.open-roles {
			display: flex;
			justify-content: center;

			.type-col {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 40%;
				margin: 0 2%;
				.role-type {
					font-family: 'Raleway';
					font-weight: 700;
					font-size: 2.2vw;
					letter-spacing: 0.12em;
					text-transform: uppercase;
					color: #b15df3;
					margin-bottom: 4%;
				}
				.role-type.management {
					color: #0ad3ff;
				}
				.role-card {
					background-color: white;
					box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.11);
					border-radius: 10px;
					padding: 30px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin-bottom: 3%;
					.role-title {
						font-family: 'Raleway';
						font-weight: 700;
						font-size: 1.6vw;
						color: #b15df3;
						margin-bottom: 0.5%;
						text-transform: uppercase;
						margin-bottom: 0.5rem;
					}
					.role-title.management {
						color: #0ad3ff;
					}
					.role-description {
						font-size: 1.1vw;
					}
				}
			}
		}
	}

	.card {
		box-shadow: none;
		border: none;
		font-size: 1.75vw;
		margin-bottom: 3%;
		width: 70%;
		&.role {
			font-family: 'Raleway';
			font-weight: 600;
			font-size: 3.2vw;
			color: #5f60ff;
		}
		&.bold {
			font-family: 'Rubik';
			font-weight: 500;
			margin-top: 3%;
		}
	}

	.btn {
		max-width: 100%;
		width: 20vw;
		height: 3.5vw;
		border-radius: 1.9vw;
		border: none;
		outline: none !important;
		box-shadow: none !important;
		background: linear-gradient(to left, #55c8fb 0%, #51f5f9 100%);
		margin-top: 1.8%;
		padding: 0.2%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: 0.3s ease;
		&:hover {
			p {
				padding-right: 25px;
				&:after {
					opacity: 1;
					right: 15px;
				}
			}
		}
		p {
			font-family: Rubik;
			font-weight: 500;
			font-size: 1.65vw;
			text-align: center;
			letter-spacing: 0.12em;
			color: #ffffff;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			transition: 0.5s;
			&:after {
				content: '\00bb';
				position: absolute;
				opacity: 0;
				top: 0;
				bottom: 0;
				display: flex;
				align-items: center;
				right: -20px;
				transition: 0.5s;
			}
		}
	}

	@media only screen and (max-width: 992px) {
		.body {
			padding: 0 5%;
			padding-bottom: 10%;
		}

		.subtitle {
			font-size: 2.5vw;
		}
		.mobile-timeline {
			width: 80%;
			display: inline;
			margin: 6vw 2vw 0 2vw;
		}
		.timeline {
			display: none;
		}
		.recruitment-info {
			margin-top: 3%;

			.interested {
				font-size: 3vw;
				margin-bottom: 2.5%;
			}
			.button-row {
				flex-direction: column;
				.button-text {
					font-size: 2vw;
				}
				.form-button {
					margin: 0px auto 2vw auto;
					height: 6vw;
					width: 27vw;
					border-radius: 40vw;
				}
			}
			.learn-button {
				margin: 0px 2vw;
				margin-bottom: 70px;
				height: 6vw;
				width: 27vw;
				border-radius: 40vw;
			}

			.open-roles {
				flex-direction: column;
				align-items: center;

				.type-col {
					flex-direction: column;
					align-items: center;
					width: 70%;
					margin: 0 4%;
					.role-type {
						font-size: 2.5vw;
					}
					.role-type.management {
						margin-top: 5%;
					}
					.role-card {
						.role-title {
							font-size: 1.9vw;
						}
						.role-description {
							font-size: 1.6vw;
						}
					}
				}
			}
		}

		.card {
			font-size: 3vw;
			margin-bottom: 2%;
			&.role {
				font-size: 5vw;
				margin-bottom: 1%;
			}
			&.bold {
				margin-top: 2.5%;
			}
		}
		.btn {
			width: 25vw;
			height: 4vw;
			p {
				font-size: 2vw;
			}
		}
	}

	@media only screen and (max-width: 576px) {
		.subtitle {
			font-size: 4vw;
			width: 90%;
			margin: 4% auto;
		}

		.recruitment-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.interested {
				text-align: center;
				font-size: 5vw;
				margin: 0% auto;
				margin-bottom: 2vw;
				margin-top: 5vw;
			}
			.button-row {
				flex-direction: column;
				.form-button {
					margin: 0 auto;
					margin-bottom: 3vw;
					width: 50vw;
					height: 11vw;
				}
				.button-text {
					font-size: 4vw;
				}
				.text-center {
					font-size: 5vw;
					margin-top: 10px;
					margin-bottom: 10px !important;
				}
			}
			.learn-button {
				margin-bottom: 3vw;
				width: 50vw;
				height: 11vw;
			}
			.open-role-title {
				margin: 10vw auto 4vw auto;
				font-size: 5vw;
			}
			.open-roles {
				flex-direction: column;
				align-items: center;

				.type-col {
					flex-direction: column;
					align-items: center;
					width: 80%;
					margin: 0 4%;
					.role-type {
						font-size: 4vw;
					}
					.role-type.management {
						margin-top: 8%;
					}
					.role-card {
						.role-title {
							font-size: 3.5vw;
						}
						.role-description {
							font-size: 3vw;
						}
					}
				}
			}
		}

		.card {
			font-size: 5vw;
			margin-bottom: 2%;
			&.role {
				font-size: 9vw;
				margin-bottom: 3%;
			}
			&.bold {
				margin-top: 2.5%;
			}
		}

		.btn {
			width: 40vw;
			height: 7vw;
			border-radius: 10vw;
			margin-top: 8%;
			p {
				font-size: 4vw;
			}
			&:hover {
				p {
					padding-right: 0;
					&:after {
						opacity: 0;
						right: -20px;
					}
				}
			}
		}
	}
}

// @media only screen and (max-width: 992px) {
// 	.apply {
// 		.body {
// 			padding-top: 3rem;
// 			padding-left: 5rem !important;
// 			padding-right: 5rem !important;
// 		}

// 		.recruitment-timeline {
// 			display: none;
// 		}

// 		.recruitment-timeline-mobile {
// 			width: 100%;
// 			margin: 40px 0 50px 0;
// 			display: block;
// 		}
// 		.interested {
// 			font-size: 45px;
// 		}
// 		.apply-button {
// 			font-size: 24px;
// 			width: 350px;
// 		}
// 		.open-roles {
// 			flex-direction: column;
// 		}
// 		.card {
// 			font-size: 19px;
// 			&.role {
// 				font-size: 32px;
// 			}
// 		}
// 	}
// }

// @media only screen and (max-width: 600px) {
// 	.apply {
// 		.body {
// 			padding-top: 3rem;
// 			padding-left: 3rem !important;
// 			padding-right: 3rem !important;
// 		}

// 		.recruitment-info {
// 			margin-top: 20px;
// 			margin-bottom: 50px;
// 		}
// 		.interested {
// 			font-size: 25px;
// 			margin-bottom: 0;
// 		}
// 		.type-col {
// 			border-radius: 20px;
// 			width: 80%;
// 			padding-right: 10px;
// 			padding-left: 10px;
// 		}
// 		.card {
// 			font-size: 15px;
// 			width: 90%;
// 			&.role {
// 				font-size: 23px;
// 			}
// 		}
// 		.apply-button {
// 			font-size: 20px;
// 			width: 300px;
// 		}
// 	}
// }
