@import '../../mixins';

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include box;

	@include mobile {
		border: none;
		padding: 2.5rem 1.25rem;
		backdrop-filter: blur(27px);
	}

	h5 {
		@include subtitle;
	}

	h6 {
		@include text;
		margin-bottom: 1.5rem;
	}

	img {
		width: 100%;
	}
}
