@font-face {
	font-family: cocogoose;
	src: url('./fonts/cocogoose.ttf');
}

@mixin mobile {
	@media only screen and (max-width: 700px) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		@content;
	}
}

@mixin landing-page-heading {
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 65px;
	text-transform: uppercase;
	color: #000000;

	@include mobile {
		font-size: 1.6rem;
		line-height: 40px;
	}
}

@mixin page-heading {
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 71px;
	text-transform: uppercase;
	color: #000000;

	@include mobile {
		line-height: 33px;
		font-size: 30px;
	}
}

@mixin subtitle {
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 51px;
	text-transform: uppercase;
	color: #000000;

	@include mobile {
		line-height: 25px;
		font-size: 20px;
	}
}

@mixin subtitle-two {
	font-family: Overpass;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 43px;
	text-transform: capitalize;
	color: #000000;

	@include mobile {
		line-height: 25px;
		font-size: 20px;
	}
}

@mixin text {
	font-family: Overpass;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	@include mobile {
		font-size: 15px;
		line-height: 20px;
	}
}

@mixin text-two {
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;

	@include mobile {
		font-size: 20px;
	}
}

@mixin text-three {
	font-family: Overpass;
	font-style: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;

	@include mobile {
		font-size: 13px;
	}
}

@mixin nav-item {
	font-family: Overpass;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.12em;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

@mixin button-text {
	font-family: Cocogoose;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
}

@mixin profile-name {
	font-family: Cocogoose;
	font-size: 18px;
	text-transform: uppercase;
	color: #000000;
}

@mixin box {
	padding: 5% 8%;
	// background: rgba(255, 255, 255, 0.6);
	border: 2px solid rgba(255, 255, 255, 0.6);
	// border-radius: 1.5rem;
	z-index: 100;
	background: rgba(255, 255, 255, 0.6);
	// opacity: 0.6;
	/* glass background blur */

	backdrop-filter: blur(27px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 5px;
}

@mixin underline-on-hover($color: #ffffff, $width: 2px) {
	border-bottom: none;
	text-decoration: none;

	&:after {
		display: block;
		content: '';
		border-bottom: solid $width $color;
		transform: scaleX(0);
		transform-origin: 0% 50%;
		transition: transform 350ms ease-in-out;
	}

	&:hover:after {
		transform: scaleX(1);
	}
}
