.error-page {
  display: flex;
  justify-items: center;
  justify-content: center;

  .error-img {
    // max-width: ;
    margin-top: 10rem;
    justify-content: center;
    justify-self: center;
    align-items: center;
  }
}
